html, body {
	height: 100%;
}

.navbar {
	.brand {
		padding: 10px 20px 0 30px;
	}
	ul.nav a {
		cursor: pointer;
	}
}

div.container {
	float: left;
	height: 100%;
	margin: 0 50px 0 100px;
	&:first-child {
		margin-left: 50px;
	}
	div.page-header {
		margin-top: 60px;
	}
	img {
		min-width: 100%;
	}
	&.ghost {
		position: absolute;
		height: 0;
		top: 0;
		left: 0;
	}
}

div.pagination a {
	cursor: pointer;
}
